apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: gulis1/myfilesapp:3.0
          env:
            - name: DB_HOST
              value: db
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: user-files
              mountPath: /files
      volumes:
        - name: user-files
          persistentVolumeClaim:
            claimName: files-data

