apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: {{ .Values.nginx.replicas }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: {{ .Values.nginx.image }}
        ports:
        - name: http
          containerPort: 80
        volumeMounts:
          - name: user-files
            mountPath: /usr/share/nginx/html
            readOnly: true

      volumes:
        - name: user-files
          persistentVolumeClaim:
            claimName: myfiles
